html{
    scroll-behavior: smooth;
 }
 body{
    font-family:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#cap{
    text-align: center;
    margin-top: 40;
 }
 #cap h1{
     font-size: 50;
     color: #110081;
  }
#three{
    color: #110081;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#three .una{
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 30;
    width: 267;
}
#three .una p{
  margin-left: 7;
}
#three .una img:hover{
    transform: scale(1.1);
}
#three .una button{
    text-align: center;
   outline: none;
   border: 0;
    width: 100%;
    outline: none;
    cursor: pointer;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 17;
    padding: 15;
    color: white;
    background-color: #2183a2;
}
